id = "{{.ProjectId}}"
version = "0.1.0"
js-sdk-version = "{{.JsSdkVersion}}"

{{if ne .DistributionDir .DefaultDistributionDir}}
distribution-dir = "{{.DistributionDir}}"
{{end}}

{{if ne .SourceDir .DefaultSourceDir}}
source-dir = "{{.SourceDir}}"
{{end}}

[[command]]
name = "install"
command = "npm install"

[[command]]
name = "build"
command = "npm run build"